# Ignore node_modules
node_modules/

# Ignore Python bytecode files
*.pyc

# Ignore logs
*.log

# Ignore the myscs folder
.myscs/

# Ignore virtual environment
venv/

# Ignore other unnecessary files
*.DS_Store
.env
